[Unit]
Description=Humidity Reader container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=~/runHumidityReader.sh
ExecStop=/usr/bin/docker stop $(docker ps | grep gustavomitt/humidityreader:latest)

[Install]
WantedBy=default.target
